.header {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    z-index: 10;
    .tab-item {
        font-weight: 400;
        text-transform: uppercase;
        line-height: 17px;
        font-size: 14px;
        color: white;
        &:hover {
            color: #FF4125;
            font-weight: 600;
        }
    }
}